body{
    width: 100%;
    height: 790px;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h2{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
}
h1{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
}
.login{
    width: 550px;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    width: 100%;
    padding: 30px;
}
.middle{
    width: 50%;
    height: 100%;
}
.middle input{
    width: 95%;
}
select {
    width: 100%;
    height: 25px;
    border-radius: 3px;
}
form input,textarea{
    padding: 5px;
    margin-block-end: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(211, 211, 211);
}
.btn-space {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-btn {
    width: 110px;
    margin: auto;
}
